$background: #f8f8f8;
$button-gradient: #d8d9db 0%, #fff 80%, #fdfdfd 100%;
$button-border: #8f9092;
$button-text: #606060;

$highlight-bottom: 0 4px 3px 1px #fcfcfc;
$shadow-bottom: 0 6px 8px #d6d7d9;
$shadow-top: 0 -4px 4px #cecfd1;
$highlight-top: 0 -6px 4px #fefefe;
$shadow-inset: inset 0 0 3px 0 #cecfd1;
$shadow-inset-hover: inset 0 0 3px 3px #cecfd1;
$shadow-inset-focus: inset 0 0 10px 0px rgba(0, 0, 250, 0.6);
$shadow-inset-active: inset 0 0 5px 3px #999, inset 0 0 30px #aaa;

$button-shadow-base: $highlight-bottom, $shadow-bottom, $shadow-top,
  $highlight-top;
$button-shadow-default: $button-shadow-base, $shadow-inset;
$button-shadow-hover: $button-shadow-base, $shadow-inset-hover;
$button-shadow-focus: $button-shadow-base, $shadow-inset-focus;
$button-shadow-active: $button-shadow-base, $shadow-inset-active;

$outside-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
  inset -5px -5px 10px #222;

$inside-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
  inset -5px -5px 10px #444;
$clicked-shadow: -5px -5px 15px #333, 5px 5px 15px #222, inset 5px 5px 10px #222,
  inset -5px -5px 10px #333;

@keyframes active {
  from {
    box-shadow: $inside-shadow;
  }
  to {
    box-shadow: $clicked-shadow;
  }
}

$light: #dfdfdf;
$base-color: #222222;
$base-color-2: #333;
